<div{% if include.class_name %} class="{{ include.class_name }}"{% else %} class="social-links"{% endif %}>
  {% if site.social.email and site.social.email != "" %}
  <a href="mailto:{{ site.social.email }}">Email</a>
  {% endif %}
  {% if site.social.github and site.social.github != "" %}
  <a href="{{ site.social.github }}" target="_blank" rel="noreferrer">GitHub</a>
  {% endif %}
  {% if site.social.linkedin and site.social.linkedin != "" %}
  <a href="{{ site.social.linkedin }}" target="_blank" rel="noreferrer">LinkedIn</a>
  {% endif %}
</div>
